@use '../../styles/variables' as *;

.result-item {
  border-radius: 4px;
  transition: background-color 0.2s;

  .result-item-url {
    font-size: 0.8rem;
    color: $dark-grey;
    text-decoration: none;
  }

  .result-item-title {
    cursor: pointer;
    font-size: 1.2rem;
    margin: 0.5rem 0;
    color: $blue;

    &:hover {
      text-decoration: underline;
    }
  }

  .result-item-description {
    font-size: 0.9rem;
    color: $medium-grey;
  }
}